* {
    box-sizing: border-box
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.main-menu {
    background-color: #17161A;
    padding: 1.5rem 0;

}

.main-menu .layout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-menu .menu-logo {
    margin-right: auto;
}

.main-menu nav {
    margin-right: 4rem;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block; 
    margin: 0 .25rem;   
}

.main-menu nav li {
    margin: 0 1rem;
}

.main-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main-menu svg {
    width: 1rem;
}
