* {
    box-sizing: border-box
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    }

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.main-menu {
    background-color: #17161A;
    padding: 1.5rem 0;
}

.main-menu .layout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-menu .menu-logo {
    margin-right: auto;
}

.main-menu nav {
    margin-right: 4rem;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block; 
    margin: 0 .25rem;   
}

.main-menu nav li {
    margin: 0 1rem;
}

.main-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main-menu svg {
    width: 1rem;
}

main{
    background-image: url("../img/home-bg-man.jpg");
    background-size: cover;
}

.home-main .row-1 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 70px 15px 0;
}

.home-main .col-7 {    
    max-width: 58.33%;
    margin: 0 auto;
    width: auto;
    color: white;
    word-wrap: break-word;
    word-break: normal;
    text-align: left;
}

.home-main h2 {
    font-size: 3.15rem;
    margin:0 0 25px;    
}

.home-main p {
    font-size: 1.15rem;
    margin: 0 0 40px;
    padding: 0 70px 0 0;
}

.home-main a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.home-main .col-5 {
    max-width: 41.66%;  
    margin: 70px 0 0;
    padding: 0 15px;
}

.home-main form {
    margin-left: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 3%;        
}

.home-main input {
    padding: 10px;
    margin-top: 5px;
}
